__pycache__
/.nodeenv
/_build
/bin
/dist
/include
/lib
/node_modules
/package-lock.json
/pyvenv.cfg
/src/plone_sphinx_theme/theme/plone-sphinx-theme/static/scripts/
/src/plone_sphinx_theme/theme/plone-sphinx-theme/static/styles/
/styles/Microsoft/
