graft docs
graft scripts
graft src/plone_sphinx_theme
graft styles/config/vocabularies

include .vale.ini
include .readthedocs.yaml
include CHANGES.md
include Makefile
include package.json
include requirements.txt requirements-dev.txt requirements-docs.txt
include .vscode/settings.json
include webpack.config.js

prune news
prune styles/Microsoft
global-exclude *.pyc
