# requirements-docs.txt
graphviz
linkify-it-py
myst-parser
plone-sphinx-theme
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-examples
sphinx-notfound-page
sphinx-reredirects
sphinx-sitemap
sphinxcontrib.httpdomain
sphinxcontrib.httpexample
sphinxcontrib-mermaid==0.8.1 # See https://github.com/mgaitan/sphinxcontrib-mermaid/issues/110#issuecomment-1473688354
sphinxcontrib-video
sphinxext-opengraph
vale==2.30.0
